<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="b10d0bf7-3c14-437c-944a-202722422e35"
            Publisher="CN=User"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>AssistantForU.Windows</DisplayName>
    <PublisherDisplayName>User</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="AssistantForU.Windows.App">
      <m2:VisualElements
          DisplayName="AssistantForU.Windows"
          Square150x150Logo="Assets\Logo.png"
          Square30x30Logo="Assets\SmallLogo.png"
          Description="AssistantForU.Windows"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>